# Web Scraping using Selenium_ Naveen Kumar Ranganathan

In [3]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\navee\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\navee\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\navee\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\navee\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\navee\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\navee\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\navee\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\navee\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [165]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import  By
import time

In [6]:
# Connecting to the driver
driver = webdriver.Chrome(r"C:\Users\navee\Downloads\chromedriver_win32\chromedriver.exe")

# Q1 . Python program to scrape data for “Data Analyst” Job position in “Bangalore” location

In [9]:
# Opening Naukri Page

In [31]:
driver.get("https://www.naukri.com/")

In [32]:
# Entering Designation and Location
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [33]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [34]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [54]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [55]:
# scraping job title

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [56]:
# scraping job location

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [57]:
# scraping job company name

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [58]:
# scraping job experience required

experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [59]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [60]:
# Creating dataframe 

df = pd.DataFrame({"Job_Title":job_title,"Job_Location":job_location,"Company_Name":company_name,"Experience_Required":experience_required})
df

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
1,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,3-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
3,Sr. Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-8 Yrs
4,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
5,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,1-12 Yrs
6,Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-7 Yrs
7,Sr Data Analyst - Tableau,Bangalore/Bengaluru,S.A.W IT Services Pvt Ltd,2-5 Yrs
8,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
9,"Data Analyst, Business Analyst",Bangalore/Bengaluru(HSR Layout +1),Clinilaunch Research Institute Llp,0-5 Yrs

# Q2 . Python program to scrape data for “Data Scientist” Job position in “Bangalore” location

In [5]:
# Opening Naukri Page
driver.get("https://www.naukri.com/")

In [10]:
# Entering Designation and Location
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [11]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [12]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [14]:
job_title1 = []
job_location1 = []
company_name1 = []

In [15]:
# scraping job title

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title1.append(title)

In [16]:
# scraping job location

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location1.append(location)

In [17]:
# scraping job company name

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name1.append(company)

In [18]:
print(len(job_title1),len(job_location1),len(company_name1))

10 10 10

In [19]:
# Creating dataframe 

df = pd.DataFrame({"Job_Title":job_title1,"Job_Location":job_location1,"Company_Name":company_name1})
df

,Job_Title,Job_Location,Company_Name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc
2,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra
3,"Data & Analytics Lead, Geo Analytics - GAMMA",Bangalore/Bengaluru,Boston Consulting Group
4,Weather and Climate Data Scientist,Bangalore/Bengaluru,Shell Pvt Ltd
5,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree
6,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
8,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS
9,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture

# Q3. To scrape Data using the filters for 'Data Scientist' location Delhi

In [293]:
# Connecting to the driver
driver = webdriver.Chrome(r"C:\Users\navee\Downloads\chromedriver_win32\chromedriver.exe")

In [294]:
# Opening Naukri Page
driver.get("https://www.naukri.com/")

In [295]:
# Entering Designation
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [296]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [299]:
# Filter location
location1 = driver.find_element(By.XPATH,'//span[@title="Delhi / NCR"]')
location1.click()

In [300]:
# Filter Salary
salary = driver.find_element(By.XPATH,'//span[@title="3-6 Lakhs"]')
salary.click()

In [301]:
job_title2 = []
job_location2 = []
company_name2 = []
experience_required2 = []

In [302]:
# scraping job title

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title2.append(title)

In [303]:
# scraping job location

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location2.append(location)

In [304]:
# scraping job company name

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name2.append(company)

In [306]:
# scraping job experience required

experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required2.append(experience)

In [307]:
print(len(job_title2),len(job_location2),len(company_name2),len(experience_required2))

10 10 10 10

In [308]:
# Creating dataframe 

df = pd.DataFrame({"Job_Title":job_title2,"Job_Location":job_location2,"Company_Name":company_name2,"Experience_Required":experience_required2})
df

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
1,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
2,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
3,Data Scientist,Temp. WFH - Noida,NGI Ventures,1-5 Yrs
4,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,Tatras Data Services,2-4 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs
7,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs
8,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
9,SE/SSE-Data Scientist,Delhi / NCR,Bold Technology Systems,3-8 Yrs

# Q4.  Scrape data of first 100 sunglasses listings on flipkart.com

In [315]:
# Connecting to the driver
driver = webdriver.Chrome(r"C:\Users\navee\Downloads\chromedriver_win32\chromedriver.exe")

In [316]:
# Opening Flipkart Page
driver.get("http://www.flipkart.com/")

In [317]:
# searching sunglasses
designation = driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('Sunglasses')

In [318]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [281]:
brand = []
description = []
price = []

In [314]:
# Getting rating for 100 sunglasses
start = 0
end = 3
for page in range(0,3):
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in brand_tags:
         brand.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [283]:
brand1 = brand[0:100]
brand1

['ROZZETTA CRAFT',
 'Silver Kartz',
 'LIZA ANGEL',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'PHENOMENAL',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'Elligator',
 'Silver Kartz',
 'ROYAL SON',
 'Elligator',
 'Fastrack',
 'SRPM',
 'Elligator',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Elligator',
 'New Specs',
 'PROVOGUE',
 'VINCENT CHASE',
 'Fastrack',
 'LIZA ANGEL',
 'SRPM',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'LIZA ANGEL',
 'PIRASO',
 'Fair-x',
 'hayden haiza',
 'Fastrack',
 'SUNBEE',
 'PIRASO',
 'New Specs',
 'VINCENT CHASE',
 'PROVOGUE',
 'Fastrack',
 'Satyam Kraft',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Satyam Kraft',
 'LIZA ANGEL',
 'Fastrack',
 'ROYAL SON',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'NuVew',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Elligator',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'Singco India',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'kingsunglasses',
 'Fastrack',
 'New Specs',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'ROYAL SON',
 'PIRASO',
 'SRPM',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'LIZA ANGEL',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'PHENOMENAL',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'Elligator',
 'Silver Kartz',
 'ROYAL SON',
 'Elligator',
 'Fastrack',
 'SRPM',
 'Elligator',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Elligator',
 'New Specs']

In [284]:
len(brand1)

100

In [285]:
# Getting description for 100 sunglasses
start = 0
end = 3
for page in range(0,3):
    description_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
        description.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [286]:
description1 = description[0:100]
description1

['UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Clubmaster Sunglasses (53)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (53)',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses, Gradient Over-sized, Wra...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Round Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Gradient Over-sized Sunglasses (59)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Night Vision, Riding Glasses, Polarized, UV Protection ...',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'Riding Glasses, UV Protection, Night Vision Spectacle ...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Cat-eye, Over-sized Sunglasses (62)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (52)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Spectacle Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, UV Protection Sports Sunglass...',
 'Polarized, UV Protection Retro Square, Over-sized, Rect...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Clubmaster Sunglasses (53)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (53)',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses, Gradient Over-sized, Wra...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Round Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Gradient Over-sized Sunglasses (59)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)']

In [287]:
len(description1)

100

In [289]:
# Getting price for 100 sunglasses
start = 0
end = 3
for page in range(0,3):
    price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [290]:
price1 = price[0:100]
price1

['₹549',
 '₹278',
 '₹129',
 '₹489',
 '₹149',
 '₹599',
 '₹129',
 '₹497',
 '₹159',
 '₹129',
 '₹649',
 '₹399',
 '₹149',
 '₹539',
 '₹149',
 '₹149',
 '₹449',
 '₹664',
 '₹286',
 '₹259',
 '₹299',
 '₹497',
 '₹129',
 '₹599',
 '₹179',
 '₹539',
 '₹799',
 '₹664',
 '₹129',
 '₹257',
 '₹699',
 '₹5,805',
 '₹283',
 '₹479',
 '₹128',
 '₹669',
 '₹5,490',
 '₹799',
 '₹209',
 '₹149',
 '₹806',
 '₹849',
 '₹479',
 '₹269',
 '₹129',
 '₹539',
 '₹284',
 '₹699',
 '₹664',
 '₹117',
 '₹447',
 '₹399',
 '₹179',
 '₹769',
 '₹599',
 '₹129',
 '₹664',
 '₹949',
 '₹479',
 '₹329',
 '₹497',
 '₹449',
 '₹129',
 '₹267',
 '₹969',
 '₹125',
 '₹398',
 '₹420',
 '₹199',
 '₹499',
 '₹413',
 '₹901',
 '₹321',
 '₹129',
 '₹379',
 '₹398',
 '₹664',
 '₹399',
 '₹599',
 '₹599',
 '₹549',
 '₹278',
 '₹129',
 '₹489',
 '₹149',
 '₹599',
 '₹129',
 '₹497',
 '₹159',
 '₹129',
 '₹649',
 '₹399',
 '₹149',
 '₹539',
 '₹149',
 '₹149',
 '₹749',
 '₹664',
 '₹286',
 '₹259']

In [291]:
len(price1)

100

In [247]:
# Creating dataframe
import pandas as pd

In [292]:
df = pd.DataFrame({"Brand":brand1,"Description":description1,"Price":price1})
df

             Brand                                        Description Price
0   ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹549
1     Silver Kartz           UV Protection Clubmaster Sunglasses (53)  ₹278
2       LIZA ANGEL  Riding Glasses, Night Vision Spectacle Sunglas...  ₹129
3         Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹489
4         Fastrack  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
..             ...                                                ...   ...
95       Elligator                UV Protection Round Sunglasses (53)  ₹149
96  ROZZETTA CRAFT  by Lenskart Polarized, UV Protection Wayfarer ...  ₹749
97  ROZZETTA CRAFT  UV Protection, Gradient Over-sized Sunglasses ...  ₹664
98       Elligator                UV Protection Round Sunglasses (54)  ₹286
99       New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹259

[100 rows x 3 columns]

# Q5. Scrape 100 reviews data from flipkart.com for iphone11 phone

In [29]:
# Connecting to the driver
driver = webdriver.Chrome(r"C:\Users\navee\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# Opening Flipkart Page
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [20]:
rating = []
review_summary = []
full_review = []

In [21]:
# Getting 100 ratings for iphone 11
start = 0
end = 10
for page in range(0,10):
    rating_tag = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag:
         rating.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)

In [22]:
rating

['5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5']

In [23]:
# Getting 100 review summary for iphone 11
start = 0
end = 10
for page in range(0,10):
    review_tag = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tag:
         review_summary.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)

In [24]:
review_summary

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Worth every penny',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Great product',
 'Pretty good',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Worth every penny',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Great product',
 'Pretty good',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Value-for-money',
 'Highly recommended',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Value-for-money',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Worth every penny',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Great product',
 'Pretty good',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Worth every penny',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Great product',
 'Pretty good',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Value-for-money',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Worth every penny',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Great product',
 'Pretty good',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Worth every penny',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Great product',
 'Pretty good',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Value-for-money',
 'Highly recommended']

In [25]:
# Getting 100 full review for iphone 11
start = 0
end = 10
for page in range(0,10):
    full_tag = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tag:
         full_review.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)

In [26]:
full_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',

In [27]:
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [28]:
# creating DatFrame for iphone reviews

df = pd.DataFrame({"Rating":rating,"Review_Summary":review_summary,"Full_Review":full_review})
df

,Rating,Review_Summary,Full_Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Perfect product!,It is just awesome mobile for this price from ...
98,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
99,5,Highly recommended,"Amazing camera quality as expected, battery al..."

# Q6. Scrape data for first 100 sneakers from flipkart

In [149]:
# Connecting to the driver
driver = webdriver.Chrome(r"C:\Users\navee\Downloads\chromedriver_win32\chromedriver.exe")

In [150]:
# Opening Flipkart Page
driver.get("https://www.flipkart.com")

In [151]:
# searching sneakers
designation = driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sneakers')

In [152]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [153]:
# Sorting webpage sneakers result by popularity as the data are shuffling due to advertisement

sort1 = driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[1]/div/div/div[2]/div[2]')
sort1.click()

In [154]:
brand_s = []
product_d = []
price_s = []
offer = []

In [155]:
# Getting brand name
start = 0
end = 3
for page in range(0,3):
    b_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in b_tags:
         brand_s.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [156]:
# Getting product description
start = 0
end = 3

for i in range(0,3):
    p_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in p_tags:
        product_d.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [157]:
# Getting price

start = 0
end = 3

for i in range(0,3):
    pr_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr_tags:
        price_s.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [158]:
# Getting offer%

start = 0
end = 3

for i in range(0,3):
    off_tags = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in off_tags:
        offer.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [159]:
b = brand_s[0:100]
b

['Labbin',
 'Shozie',
 'HOTSTYLE',
 'aadi',
 'SFR',
 'Kzaara',
 'SFR',
 'BRUTON',
 'BRUTON',
 'aadi',
 'BRUTON',
 'RapidBox',
 'World Wear Footwear',
 'asian',
 'Robbie jones',
 'SFR',
 'Labbin',
 'World Wear Footwear',
 'BRUTON',
 'TR',
 'AJANTA',
 'Shozie',
 'AJANTA',
 'asian',
 'aadi',
 'World Wear Footwear',
 'SFR',
 'SCATCHITE',
 'Robbie jones',
 'Robbie jones',
 'BRUTON',
 'Rzisbo',
 'BRUTON',
 'RED TAPE',
 'World Wear Footwear',
 'SFR',
 'SFR',
 'KILLER',
 'World Wear Footwear',
 'aadi',
 'HOTSTYLE',
 'Robbie jones',
 'SFR',
 'Brainer',
 'Lee Won',
 'SFR',
 'aadi',
 'asian',
 'Robbie jones',
 'Kraasa',
 'World Wear Footwear',
 'AJANTA',
 'asian',
 'KRIPTO',
 'asian',
 'Nobelite',
 'BRUTON',
 'Adiso',
 'aadi',
 'PUMA',
 'AJANTA',
 'RED TAPE',
 'BRUTON',
 'World Wear Footwear',
 'RED TAPE',
 'ASTEROID',
 'WELDONE',
 'RapidBox',
 'BRUTON',
 'Kzaara',
 'TR',
 'ADIDAS',
 'PUMA',
 'HOTSTYLE',
 'AJANTA',
 'BERSACHE',
 'World Wear Footwear',
 'PUMA',
 'AJANTA',
 'AJANTA',
 'Labbin',
 'Shozie',
 'HOTSTYLE',
 'aadi',
 'SFR',
 'Kzaara',
 'SFR',
 'BRUTON',
 'BRUTON',
 'aadi',
 'BRUTON',
 'RapidBox',
 'World Wear Footwear',
 'asian',
 'Robbie jones',
 'SFR',
 'Labbin',
 'World Wear Footwear',
 'BRUTON',
 'TR']

In [160]:
pd = product_d[0:100]
pd

['Sneakers For Men',
 'Sneakers For Men',
 'Loafers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'PLANCK Smart Grey Lace-Ups Casuals Sneakers Sneakers Fo...',
 'Sneakers For Men',
 'FAST Trenddy Tainer Lace-ups Sporty Casuals Sneakers Fo...',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Exclusive Range of Stylish Comfortable Sports Sneakers ...',
 'Casuals For Men',
 'Casual Shoes Slip On Sneakers For Men',
 'PLANCK Smart Red Lace-Ups Casuals Sneakers Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 5 Casual Shoes Canvas Shoes For Men',
 'Sneakers For Men',
 'Casual Loafers For Men',
 'Sneakers For Men',
 'Casual Loafers For Men',
 'SM-162 Black Walking ,Training,Sneakers,Loafers,Canvas,...',
 'Mesh| Ultralightweight| Premiun| Comfort| Summer Tendy|...',
 'Exclusive Affordable Collection of Trendy & Stylish Spo...',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Shoes Sneakers For Men',
 'Sneakers For Men',
 'Exclusive Affordable Collection of Trendy & Stylish Cas...',
 'FAST Trenddy Tainer Lace-ups Sporty Casuals Sneakers Fo...',
 'PLANCK Smart Blue Lace-Ups Casuals Sneakers Sneakers Fo...',
 'Loafers For Men',
 'Men 9325 Latest Collection Stylish Sports Sneakers Runn...',
 'Synthetic| Lightweight| Premiun| Comfort| Summer Tendy|...',
 'Designer Loafers For Men',
 'Casual Sneakers Slip on Shoes For Boys And Men Slip On ...',
 'PLANCK Smart Grey Lace-Ups Casuals Sneakers Sneakers Fo...',
 'Sneakers For Men',
 'Running Shoes For Men',
 'FAST Trenddy Tainer Lace-ups Sporty Casuals Sneakers Fo...',
 'Sneakers For Men',
 'WATERPROOF-05cFULLWHITE Sneakers For Men',
 'Casual Shoes Slip On Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Exclusive Affordable Collection of Trendy & Stylish Spo...',
 'Casual Loafers For Men',
 'SM-162 Navy Blue Walking,Training ,Sneakers,Loafers,Can...',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'FITMAN Loafers For Men',
 'RS-X Puzzle Sneakers For Men',
 'Casual Loafers For Men',
 'RTE3673 Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Stylish Casual Walking Comfortable Sports Running Shoes...',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Loafers For Men',
 'Sneakers For Men',
 '2031 Stylish Comfortable Lightweight, Breathable Walkin...',
 'Slip On Sneakers For Men',
 'Casual White Sneakers For Men',
 'Lucifo M Slip On Sneakers For Men',
 'RS-Connect Ombre T Sneakers For Men',
 'Stylish Loafers For Men',
 'Casual Loafers For Men',
 'Casual Shoes , Sneakers Shoes,Lace-Up PVC Shoes For Men...',
 'Men 9323 Latest Collection Stylish Sports Sneakers Runn...',
 'Buzz Casuals For Men',
 'Loafers For Men',
 'Casual Loafers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Loafers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'PLANCK Smart Grey Lace-Ups Casuals Sneakers Sneakers Fo...',
 'Sneakers For Men',
 'FAST Trenddy Tainer Lace-ups Sporty Casuals Sneakers Fo...',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Exclusive Range of Stylish Comfortable Sports Sneakers ...',
 'Casuals For Men',
 'Casual Shoes Slip On Sneakers For Men',
 'PLANCK Smart Red Lace-Ups Casuals Sneakers Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 5 Casual Shoes Canvas Shoes For Men',
 'Sneakers For Men',
 'Casual Loafers For Men',
 'Sneakers For Men',
 'Casual Loafers For Men',
 'SM-162 Black Walking ,Training,Sneakers,Loafers,Canvas,...']

In [161]:
p2 = price_s[0:100]
p2

['₹399',
 '₹295',
 '₹249',
 '₹359',
 '₹209',
 '₹229',
 '₹299',
 '₹299',
 '₹199',
 '₹599',
 '₹299',
 '₹599',
 '₹299',
 '₹1,051',
 '₹259',
 '₹209',
 '₹399',
 '₹259',
 '₹749',
 '₹389',
 '₹279',
 '₹419',
 '₹279',
 '₹473',
 '₹699',
 '₹239',
 '₹269',
 '₹360',
 '₹439',
 '₹439',
 '₹581',
 '₹549',
 '₹299',
 '₹1,749',
 '₹259',
 '₹349',
 '₹209',
 '₹629',
 '₹259',
 '₹399',
 '₹299',
 '₹259',
 '₹209',
 '₹399',
 '₹292',
 '₹299',
 '₹399',
 '₹657',
 '₹259',
 '₹449',
 '₹299',
 '₹279',
 '₹473',
 '₹379',
 '₹473',
 '₹324',
 '₹199',
 '₹599',
 '₹399',
 '₹5,219',
 '₹269',
 '₹1,819',
 '₹581',
 '₹299',
 '₹1,374',
 '₹499',
 '₹292',
 '₹599',
 '₹389',
 '₹299',
 '₹299',
 '₹1,324',
 '₹5,279',
 '₹298',
 '₹269',
 '₹199',
 '₹259',
 '₹1,699',
 '₹279',
 '₹279',
 '₹399',
 '₹295',
 '₹249',
 '₹359',
 '₹209',
 '₹229',
 '₹299',
 '₹299',
 '₹199',
 '₹599',
 '₹299',
 '₹599',
 '₹299',
 '₹1,051',
 '₹259',
 '₹209',
 '₹399',
 '₹259',
 '₹749',
 '₹389']

In [162]:
of = offer[0:100]
of

['60% off',
 '70% off',
 '50% off',
 '82% off',
 '65% off',
 '77% off',
 '70% off',
 '77% off',
 '66% off',
 '70% off',
 '76% off',
 '40% off',
 '70% off',
 '47% off',
 '74% off',
 '65% off',
 '60% off',
 '74% off',
 '82% off',
 '74% off',
 '60% off',
 '58% off',
 '60% off',
 '32% off',
 '65% off',
 '76% off',
 '73% off',
 '63% off',
 '57% off',
 '57% off',
 '76% off',
 '45% off',
 '76% off',
 '65% off',
 '76% off',
 '65% off',
 '65% off',
 '82% off',
 '74% off',
 '80% off',
 '40% off',
 '74% off',
 '65% off',
 '60% off',
 '41% off',
 '70% off',
 '80% off',
 '34% off',
 '74% off',
 '55% off',
 '70% off',
 '60% off',
 '32% off',
 '62% off',
 '40% off',
 '74% off',
 '84% off',
 '40% off',
 '60% off',
 '42% off',
 '10% off',
 '65% off',
 '84% off',
 '70% off',
 '75% off',
 '75% off',
 '41% off',
 '40% off',
 '70% off',
 '70% off',
 '80% off',
 '47% off',
 '52% off',
 '70% off',
 '10% off',
 '90% off',
 '74% off',
 '62% off',
 '60% off',
 '60% off',
 '60% off',
 '70% off',
 '50% off',
 '82% off',
 '65% off',
 '77% off',
 '70% off',
 '77% off',
 '66% off',
 '70% off',
 '76% off',
 '40% off',
 '70% off',
 '47% off',
 '74% off',
 '65% off',
 '60% off',
 '74% off',
 '82% off',
 '74% off']

In [163]:
print(len(b),len(pd),len(p2),len(of))

100 100 100 100

In [166]:
#creating DataFrame

df = pd.DataFrame({"Brand":b,"Product Description":pd,"Price":p2,"Offer":of})
df

# Multiple times I've tried clearing and importing pandas and ran the code for description, but still unable to import the exact
# data for product description in DataFrame

,Brand,Product Description,Price,Offer
0,Labbin,<module 'pandas' from 'C:\\ProgramData\\Anacon...,₹399,60% off
1,Shozie,<module 'pandas' from 'C:\\ProgramData\\Anacon...,₹295,70% off
2,HOTSTYLE,<module 'pandas' from 'C:\\ProgramData\\Anacon...,₹249,50% off
3,aadi,<module 'pandas' from 'C:\\ProgramData\\Anacon...,₹359,82% off
4,SFR,<module 'pandas' from 'C:\\ProgramData\\Anacon...,₹209,65% off
...,...,...,...,...
95,SFR,<module 'pandas' from 'C:\\ProgramData\\Anacon...,₹209,65% off
96,Labbin,<module 'pandas' from 'C:\\ProgramData\\Anacon...,₹399,60% off
97,World Wear Footwear,<module 'pandas' from 'C:\\ProgramData\\Anacon...,₹259,74% off
98,BRUTON,<module 'pandas' from 'C:\\ProgramData\\Anacon...,₹749,82% off
99,TR,<module 'pandas' from 'C:\\ProgramData\\Anacon...,₹389,74% off

# Q7. Scrape first 10 laptops data

In [105]:
# Connecting to the driver
driver = webdriver.Chrome(r"C:\Users\navee\Downloads\chromedriver_win32\chromedriver.exe")

In [106]:
# Opening Amazon Page
driver.get("http://www.amazon.in/")

In [107]:
# searching laptop
designation = driver.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]')
designation.send_keys('laptop')

In [108]:
search = driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search.click()

In [109]:
# Unable to identify the exact tag to filter Intel Core 7 from the webpage - Used full X path to filter Intel Core 7

search2 = driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div')
search2.click()

In [110]:
title = []
ratings = []
price = []

In [111]:
# Scrape Title

title_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    t1 = i.text
    title.append(t1)

In [112]:
len(title)

10

In [113]:
title

['Lenovo ThinkPad E14 Intel Core i7 12th Gen 14" FHD IPS Thin and Light Laptop (16GB RAM/1TB SSD/Windows 11 Home/MS Office H&S 2021/Backlit Keybaord/FPR/Black/1.59 kg), 21E3S05800',
 'Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021, 14-eh0024TU',
 'Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Laptop (16GB/512GB SSD/Win 11/Office 2021/Backlit KB/Fingerprint/FHD Camera/Alexa/3 Month Game Pass/Storm Grey/1.85Kg), 82SF004XIN',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms) WQHD 165Hz/3ms, Intel Core i7-12650H 12th Gen, RTX 3070 8GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 11/Office 2021/Black/2 kg), FX517ZR-HQ030WS',
 'ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2.8K OLED 16:10 90Hz, Intel Core Evo i7-1260P 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Blue/1.39 kg), UX3402ZA-KM731WS',
 'Lenovo Yoga 7 Intel Evo i7 1260P 14"(35.56cm) QHD OLED 2-in-1 400Nits Laptop(16GB/512GB SSD/Win 11/Office 2021/Backlit KB/Digital Pen/3Yr Warranty/Alexa/3 month Game Pass/Storm Grey/1.42Kg) 82QE0060IN',
 'Lenovo ThinkPad E14 Intel Core i7 12th Gen 14" FHD IPS Thin and Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/MS Office H&S 2021/Backlit Keyboard/FPR/Black/1.59 kg), 21E3S05B00']

In [114]:
# Scrape Ratings

r1_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in r1_tags[0:10]:
    rat = i.text
    ratings.append(rat)

In [115]:
ratings

['(3.7)',
 '(3.6)',
 '(4.0)',
 '(4.2)',
 '(4.3)',
 '(4.2)',
 '(5.0)',
 '(4.0)',
 '(3.7)',
 '(3.9)']

In [116]:
len(ratings)

10

In [117]:
# Scrape Price

price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    p1 = i.text
    price.append(p1)

In [118]:
len(price)

10

In [119]:
#creating DataFrame

df = pd.DataFrame({"Title":title,"Ratings":ratings,"Price":price})
df

                                               Title Ratings     Price
0  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...   (3.7)  1,02,490
1  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...   (3.6)    87,990
2  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...   (4.0)    95,546
3  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...   (4.2)    82,990
4  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...   (4.3)    89,000
5  HP Pavilion x360 11th Gen Intel Core i7 14 inc...   (4.2)    82,490
6  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...   (5.0)  1,49,900
7  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...   (4.0)  1,01,000
8  Lenovo Yoga 7 Intel Evo i7 1260P 14"(35.56cm) ...   (3.7)  1,12,000
9  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...   (3.9)    95,990

# Q8. Scrape data for Top 1000 Quotes of All Time

In [241]:
# Connecting to the driver
driver = webdriver.Chrome(r"C:\Users\navee\Downloads\chromedriver_win32\chromedriver.exe")

In [242]:
# Opening Flipkart Page
driver.get("http://www.azquotes.com/")

In [243]:
# searching top quotes
search = driver.find_element(By.XPATH,'//a[@href="/top_quotes.html"]')
search.click()

In [244]:
quote = []
author = []
type_quote = []

In [245]:
# Scrape top 1000 Quotes
start = 0
end = 10
for page in range(0,10):
    quote_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
         quote.append(i.text)
    next_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]")
    next_button.click()
    time.sleep(11)

In [246]:
len(quote)

1000

In [247]:
# Scrape top 1000 Author
start = 0
end = 10
for page in range(0,10):
    author_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
         author.append(i.text)
    next_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]")
    next_button.click()
    time.sleep(11)

In [248]:
len(author)

1000

In [249]:
# Scrape top 1000 quotes type
start = 0
end = 10
for page in range(0,10):
    type_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags:
         type_quote.append(i.text)
    next_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]")
    next_button.click()
    time.sleep(11)

In [250]:
len(type_quote)

1000

In [251]:
#creating DataFrame

df = pd.DataFrame({"Quote":quote,"Author":author,"Type of Quotes":type_quote})
df

,Quote,Author,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Q9. List of respected former Prime Ministers of India

In [7]:
# Connecting to the driver
driver = webdriver.Chrome(r"C:\Users\navee\Downloads\chromedriver_win32\chromedriver.exe")

In [8]:
# Opening Page
driver.get("http://www.jagranjosh.com/")

In [9]:
# searching GK
search = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
search.click()

In [10]:
# searching list of all prime ministers
search2 = driver.find_element(By.XPATH,'//a[@href="https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1"]')
search2.click()

In [11]:
name = []
bd = []
office = []
remark = []

In [12]:
# scarpe PM name

name_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/td[2]/p')
for i in name_tags:
    name.append(i.text)

In [13]:
name

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [14]:
# scarpe PM Born and Dead

bd_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/td[3]/p')
for i in bd_tags:
    bd.append(i.text)

In [15]:
bd

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)']

In [16]:
# scarpe PM term of office

office_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/td[4]')
for i in office_tags:
    office.append(i.text)

In [17]:
office

['15 August 1947 to 27 May 1964\n16 years, 286 days',
 '27 May 1964 to 9 June 1964,\n13 days',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 '11 January 1966 to 24 January 1966\n13 days',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 '28 July 1979 to 14 January 1980\n170 days',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 '2 December 1989 to 10 November 1990\n343 days',
 '10 November 1990 to 21 June 1991\n223 days',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 '16 May 1996 to 1 June 1996\n16 days',
 '1 June 1996 to 21 April 1997\n324 days',
 '21 April 1997 to 19 March 1998 \n332 days',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 '26 May 2014 - Present']

In [18]:
len(office)

18

In [19]:
office1 = []

for i in range(len(office)):
    if i==len(office)-19:
        break
    else:
        office2 = office[i].strip().split("\n")
    office1.append(office2)
office1

[['15 August 1947 to 27 May 1964', '16 years, 286 days'],
 ['27 May 1964 to 9 June 1964,', '13 days'],
 ['9 June 1964 to 11 January 1966', '1 year, 216 days'],
 ['11 January 1966 to 24 January 1966', '13 days'],
 ['24 January 1966 to 24 March 1977', '11 years, 59 days'],
 ['24 March 1977 to  28 July 1979 ', '2 year, 126 days'],
 ['28 July 1979 to 14 January 1980', '170 days'],
 ['14 January 1980 to 31 October 1984', '4 years, 291 days'],
 ['31 October 1984 to 2 December 1989', '5 years, 32 days'],
 ['2 December 1989 to 10 November 1990', '343 days'],
 ['10 November 1990 to 21 June 1991', '223 days'],
 ['21 June 1991 to 16 May 1996', '4 years, 330 days'],
 ['16 May 1996 to 1 June 1996', '16 days'],
 ['1 June 1996 to 21 April 1997', '324 days'],
 ['21 April 1997 to 19 March 1998 ', '332 days'],
 ['19 March 1998 to 22 May 2004 ', '6 years, 64 days'],
 ['22 May 2004 to 26 May 2014   ', '10 years, 4 days'],
 ['26 May 2014 - Present']]

In [20]:
# scarpe PM Remark

remark_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/td[5]/p')
for i in remark_tags:
    remark.append(i.text)

In [21]:
remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [22]:
len(remark)

18

In [23]:
#creating DataFrame

df = pd.DataFrame({"Name":name,"Born-Dead":bd,"Term of Office":office1,"Remark":remark})
df

,Name,Born-Dead,Term of Office,Remark
0,Jawahar Lal Nehru,(1889–1964),"[15 August 1947 to 27 May 1964, 16 years, 286 ...",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"[27 May 1964 to 9 June 1964,, 13 days]",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"[9 June 1964 to 11 January 1966, 1 year, 216 d...",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),"[11 January 1966 to 24 January 1966, 13 days]",-
4,Indira Gandhi,(1917–1984),"[24 January 1966 to 24 March 1977, 11 years, 5...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"[24 March 1977 to 28 July 1979 , 2 year, 126 ...",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),"[28 July 1979 to 14 January 1980, 170 days]",Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"[14 January 1980 to 31 October 1984, 4 years, ...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"[31 October 1984 to 2 December 1989, 5 years, ...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),"[2 December 1989 to 10 November 1990, 343 days]",First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),"[10 November 1990 to 21 June 1991, 223 days]",He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"[21 June 1991 to 16 May 1996, 4 years, 330 days]",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),"[16 May 1996 to 1 June 1996, 16 days]",PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),"[1 June 1996 to 21 April 1997, 324 days]",He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),"[21 April 1997 to 19 March 1998 , 332 days]",------
15,Atal Bihari Vajpayee,(1924-2018),"[19 March 1998 to 22 May 2004 , 6 years, 64 days]",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"[22 May 2004 to 26 May 2014 , 10 years, 4 days]",First Sikh PM
17,Narendra Modi,(born 1950),[26 May 2014 - Present],4th Prime Minister of India who served two con...

# Q.10  50 Most expensive cars in the world

In [2]:
# Connecting to the driver
driver = webdriver.Chrome(r"C:\Users\navee\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# Opening Page
driver.get("https://www.motor1.com/")

In [ ]:
# searching cars
drop = driver.find_element(By.XPATH,'//div[@class="m1-hamburger-button"]')
drop.click()

In [6]:
# searching cars
drop2 = driver.find_element(By.XPATH,'//li[@class="m1-navigation-main__animated-block grand left top mobile dropdown show"]')
drop2.click()

In [7]:
# searching cars
drop3 = driver.find_element(By.XPATH,'//a[@href="/features/308149/most-expensive-new-cars-ever/"]')
drop3.click()

In [8]:
car = []
description = []
price = []

In [9]:
# scarpe Car

car_tags = driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/h3')
for i in car_tags:
    car.append(i.text)

In [10]:
car1 = car[0:50]
car1

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [11]:
len(car1)

50

In [38]:
# scarpe Car

description_tags = driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p')
for i in description_tags:
    description.append(i.text)

In [39]:
description

['By: Jeff Perez',

In [45]:
len(description)

108

In [69]:
des = description[5:108:2]
des

['When it comes to high-end hypercars and super-fast supercars, a few companies should come to mind first: Bugatti, Ferrari, Koenigsegg, Rimac, and Pagani, among others. These manufacturers have cemented themselves as the top dogs in the supercar and hypercar space, extending to their wealthiest clientele the fastest, rarest, prettiest – and in this case – most expensive cars on the planet.',
 'We should note, though: The prices listed here are the price of the vehicles when new. So we’re not counting auction cars like the Ferrari 250 GTO, or overpriced secondhand sales. But don’t worry, there’s still hundreds of millions worth of cars here to whet your appetite.',
 'The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.',
 'The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.',
 'At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.',
 'Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).',
 'The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.',
 'You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.',
 'Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.',
 "The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out.",
 'One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.',
 'Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.',
 'The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.',
 'With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.',
 "To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million.",
 "The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million.",
 'The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.',
 'Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.',
 'With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.',
 'As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.',
 'You may have heard of Delage before. In the early 1900s, this French automaker was competing on the track with Bugatti and Ferrari. Now Delage is back and with a beautiful new hypercar dubbed the D12. Powered by a 7.6-liter V12 engine, the new D12 produces upwards of 1,010 horsepower and costs a cool $2.3 million.',
 "What would you pay for the fastest production McLaren ever? Well, at least $2.3 million. With 1,035 horsepower courtesy of a gasoline-electric hybrid V8 powertrain, the Speedtail tops out at 250 miles per hour and is able to reach 186 mph in just 12.8 seconds – 2.7 seconds faster than the P1. Unfortunately, if you didn't get your hands on one new in 2020, you'll have to shell out serious cash on the used market. McLaren only built 106 examples.",
 'The Rimac Nevera takes the title of most expensive EV with its $2.4 million price tag – but only by a few hundred thousand dollars over the next priciest electric supercar. Packing 1,914 horsepower and 1,740 pound-feet of torque, the Nevera can hit 60 in under 2.0 seconds and will continue on to a top speed of 258 miles per hour. Those lucky enough to order one should see it in their driveway before the end of 2022.',
 'First came the Zonda, then the Huayra, and now the Pagani Utopia. With 852 horsepower and an available seven-speed manual gearbox, the Utopia is the most powerful road-going Pagani ever produced and it’s limited to just 99 examples worldwide. The cost for one is a cool $2.5 million.',
 'Aptly named after the company’s founder, Battista Farina, the Pininfarina Battista delivers the kind of performance (and price!) to make its namesake proud. Revealed at the 2019 Geneva Motor Show, the Battista is completely electric, putting out 1,827 horsepower. If a normal supercar’s 0 to 60 time sounds too leisurely for you, the company says that the Battista will take you there in under 2.0 seconds. Pininfarina plans on building 150 examples of the Battista, costing $2.5 million each.',
 "Sure, you could buy a normal LaFerrari (which also makes the list further down), but why settle for a supercar so mundane when you can take home this track-only version instead? Granted, the Ferrari FXX K Evo came out in 2017, and it's well past the point of being sold out. But when it was new, this 1,036-horsepower Ferrari tore up the track with its naturally aspirated V12 and aggressive aerodynamics.",
 "If the name Gordon Murray sounds familiar, it’s because he's the man behind the design of the iconic McLaren F1. These days, Mr. Murray has his own supercar venture, and the handsome T.50 is the crown jewel of the lineup. At $2.6 million, the T.50 packs a naturally aspirated 4.0-liter V12 that makes 654 horsepower. The car itself weighs a mere 2,174 pounds, and at 392 pounds, the T.50 has the lightest V12 on the road today.",
 "The name Countach may be iconic, but is it worth $2.6 million? That's what Lamborghini hopes you will spend on its new Aventador-based model. Debuting in August of 2021, the Countach LPI 800-4 has a 6.5-liter V12 with a light hybrid assist that gives it a whopping 803 horsepower, allowing for a 60 time of 2.8 seconds and a top speed of more than 220 miles per hour.",
 'Mercedes has promised a production version of the Project One hypercar for quite a while now. The first official announcement was in March of 2017 before the first concept debuted later that same year. But after nearly five years of teasing, it appears as if the Project One will finally hit public roads. And when it does, the hybrid hypercar will have over 1,200 horsepower (895 kilowatts) and a price tag of $2.7 million.',
 'The folks at Aston Martin know a thing or two about exclusive vehicles, and the Victor might be the most exclusive project for the British brand to date. Based on the One-77 platform, the Victor uses parts from several donor Astons including the track project Vulcan and the upcoming Valkyrie. And talking about limited production – the Victor is one-of-one and rumored to cost nearly $3 million.',
 'The same Hennessey Venom F5 hypercar we all know and love, but with less roof. The F5 Roadster has the same twin-turbocharged 6.6-liter V8 as the coupe, producing the same 1,817 horsepower and 1,193 pound-feet of torque. Hennessey estimates a top speed of over 300 miles per hour, but if you want one, it will cost you at least $3.0 million.',
 "The Koenigsegg Jesko, apart from being the fastest car the company has made to date, is also the most expensive. At $3.0 million out of the box, the handsome hypercar has 1,600-horsepower courtesy of the brand's ubiquitous twin-turbocharged 5.0-liter V8 engine. Opt for the Absolut model, and the Jesko, in theory, will be able to hit 300 miles per hour.",
 'The upcoming Aston Martin hybrid hypercar hasn’t even hit the market yet, but already the $3.2 million Valkyrie has sold out. For what it’s worth, Aston Martin hasn’t officially released pricing. Estimates suggest the hypercar could go for anywhere between $2.6 and $3.9 million – but $3.2 million seems to be the magic number. Whatever the case, this machine is impressive. Its Cosworth-sourced 6.5-liter V12 produces 1,160 horsepower (865 kilowatts) and 664 pound-feet (900 Newton-meters) of torque, meaning its top speed should be well over 200 miles per hour (321 kilometers per hour). The company will build just 150 examples of the standard Valkyrie, with a limited 25-run AMR model arriving later.',
 "Dubai-based W Motors shocked the world with its edgy Lykan Hypersport supercar in 2013. With titanium LED headlights housing 420 15-carat diamonds and a holographic display in the center console, it's no surprise it was the third most expensive car ever when new. It falls to number six on our list here, but it's still a wild hypercar with a powerful heart; the twin-turbocharged 3.7-liter six-cylinder engine underhood produces 780 horsepower (581 kilowatts) and 708 (960 Newton-meters) of torque.",
 'One seat, 829 horsepower, and a top speed of over 200 miles per hour. The new McLaren Solus is about as close as you can get to a Formula 1 car from the factory, powered by a naturally aspirated 5.2-liter V10 engine with a 0-62 mile-per-hour time of just 2.5 seconds. Estimates suggest a McLaren Solus will set you back about $3.5 million.',
 'Following Pagani’s past playbook, a roadster version of the ferocious Huayra BC was inevitable. Last year, the company made it official by showing off the Huayra Roadster BC, a topless monster with 800 horsepower (597 kilowatts) and 774 lb-ft of torque (1049 Newton-meters). Somewhat surprisingly, Pagani gave the roadster 50 more horsepower than its coupe sibling, by cranking up its AMG-sourced twin-turbocharged 6.0-liter V12. In addition to the joy of hearing the glorious engine note without a roof in the way, owners should take comfort in knowing that their car is ultra-rare. Pagani is limiting production to just 40 units, each with a sticker price of $3.5 million.',
 'Another showstopper from the Geneva Motor Show that never was, the Bugatti Chiron Pur Sport is a special edition Chiron with a focus on aerodynamics, weight reduction, and power distribution. It’s the same 8.0-liter quad-turbo W16 engine underneath the skin but it’s now mated to a recalibrated automatic gearbox. While the peak output remains unchanged at 1,500 horsepower (1,103 kilowatts), the rpm redline has been set 200 rpm higher, up to 6,900 rpm. The Pur Sport also features slightly revised bodywork, with a bigger rear wing and more aerodynamic front fascia. Beginning production in late 2020, the Bugatti starts at $3.6 million.',
 'In several ways, the Sian represents a bridge to Lamborghini’s future. Though it’s based on the Aventador SVJ, this wild-looking Lambo is the brand’s first production electrified offering. In addition to the SVJ-sourced 6.5-liter V12, the Sian uses a 48-volt mild-hybrid system. Total system output is 819 horsepower (611 kilowatts), which also makes it the most powerful Lamborghini ever. As confirmed by the 63 stuck on either side of the Sian’s wing, Lamborghini will produce just 63 units. And each will cost far more than the Aventador SVJ, carrying a price of $3.6 million.',
 'The Koenigsegg CC850 was a surprise to be sure, but a welcomed one. Borrowing the twin-turbocharged 5.0-liter V8 from the Jesko, it notches that output up to 1,385 horsepower and 1,022 pound-feet of torque, with a so-called “TWMPAFMPC” transmission that shifts (pun intended) between manual and automatic functions. Of course, all that performance technology will cost you; the CC850 starts at $3.7 million.',
 'Earlier this year, Bugatti captured the collective attention of the automotive world by announcing that it broke the 300 miles per hour barrier with a modified version of the Chiron. The Super Sport 300 + is a road-going version of that car, meant to celebrate the occasion. Limited to just 30 units, the Super Sport 300+ is a beautiful version of the Chiron, with flowing, slippery bodywork and a sweet stripe motif. Even with 300 in the name, Bugatti is limiting the top speed of each car to "just" 277 mph. Production starts this year.',
 "Lamborghini built just 14 examples of the Aventador-based Veneno between 2014 and 2015. Each one cost around $4.5 million, depending on how it was spec'd, and was available in both convertible and coupe configurations. Underhood Lamborghini fitted a more-powerful iteration of the Aventador's 6.5-liter V12, now producing 740 horsepower (552 kilowatts) and 509 pound-feet (609 Newton-meters) of torque, which gave it the ability to sprint to 60 miles per hour (96 kilometers per hour) in a blistering 2.9 seconds. To date, it’s the most expensive new Lamborghini ever.",
 "Produced in extremely limited numbers atop the body of a Chiron, it's no wonder Bugatti's one-of-40 Bolide track car is this pricey. At $4.7 million, the 1,824-horsepower hypercar has more power than the Chiron Super Sport 300+, and more extreme bodywork that allow it to lap tracks like the Nurburgring in record time (in theory). Bugatti says the Bolide would be able to conquer the ‘Ring in record time.",
 'The Bugatti Mistral sends the iconic W16 engine off in style. With 1,577 horsepower and no roof, the Mistral takes the best bits of the Chiron and borrows elements from the Bolide and Divo to create a truly unique roadster. Of course, Bugatti plans to build just 99 examples of the Mistral at the cost of around $5.0 million in the US – and all of them are already accounted for.',
 'Even though the new Utopia marks the next big step for Pagani, the Huayra Imola packs nearly as much power with a twin-turbocharged 6.0-liter V12 engine producing 827 horsepower and 811 pound-feet of torque. The Huayra Imola is estimated to cost around $5.4 million new, which would make it the second most expensive Pagani of all time.',
 'Among Bugatti’s recently debuted vehicles, the Divo is a staff favorite. Though it shares much in common with its cheaper (!) sibling the Chiron, the Divo has a lot going for it to justify the extra money. By adding lighter wheels, a carbon fiber intercooler and removing some sound deadening, Bugatti made the Divo 77 pounds lighter than the Chiron. Though power is unchanged from the Chiron’s 1,500 ponies (1,119 kilowatts), The Divo features a different aerodynamic setup, which makes it 8 seconds quicker around the Nardo test track. Finally, the moment you’ve been waiting for: Bugatti is making 40 examples of the car, each costing $5.8 million.',

In [70]:
len(des)

52

In [72]:
des1 = des[2:52]
des1

['The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.',
 'The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.',
 'At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.',
 'Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).',
 'The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.',
 'You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.',
 'Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.',
 "The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out.",
 'One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.',
 'Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.',
 'The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.',
 'With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.',
 "To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million.",
 "The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million.",
 'The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.',
 'Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.',
 'With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.',
 'As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.',
 'You may have heard of Delage before. In the early 1900s, this French automaker was competing on the track with Bugatti and Ferrari. Now Delage is back and with a beautiful new hypercar dubbed the D12. Powered by a 7.6-liter V12 engine, the new D12 produces upwards of 1,010 horsepower and costs a cool $2.3 million.',
 "What would you pay for the fastest production McLaren ever? Well, at least $2.3 million. With 1,035 horsepower courtesy of a gasoline-electric hybrid V8 powertrain, the Speedtail tops out at 250 miles per hour and is able to reach 186 mph in just 12.8 seconds – 2.7 seconds faster than the P1. Unfortunately, if you didn't get your hands on one new in 2020, you'll have to shell out serious cash on the used market. McLaren only built 106 examples.",
 'The Rimac Nevera takes the title of most expensive EV with its $2.4 million price tag – but only by a few hundred thousand dollars over the next priciest electric supercar. Packing 1,914 horsepower and 1,740 pound-feet of torque, the Nevera can hit 60 in under 2.0 seconds and will continue on to a top speed of 258 miles per hour. Those lucky enough to order one should see it in their driveway before the end of 2022.',
 'First came the Zonda, then the Huayra, and now the Pagani Utopia. With 852 horsepower and an available seven-speed manual gearbox, the Utopia is the most powerful road-going Pagani ever produced and it’s limited to just 99 examples worldwide. The cost for one is a cool $2.5 million.',
 'Aptly named after the company’s founder, Battista Farina, the Pininfarina Battista delivers the kind of performance (and price!) to make its namesake proud. Revealed at the 2019 Geneva Motor Show, the Battista is completely electric, putting out 1,827 horsepower. If a normal supercar’s 0 to 60 time sounds too leisurely for you, the company says that the Battista will take you there in under 2.0 seconds. Pininfarina plans on building 150 examples of the Battista, costing $2.5 million each.',
 "Sure, you could buy a normal LaFerrari (which also makes the list further down), but why settle for a supercar so mundane when you can take home this track-only version instead? Granted, the Ferrari FXX K Evo came out in 2017, and it's well past the point of being sold out. But when it was new, this 1,036-horsepower Ferrari tore up the track with its naturally aspirated V12 and aggressive aerodynamics.",
 "If the name Gordon Murray sounds familiar, it’s because he's the man behind the design of the iconic McLaren F1. These days, Mr. Murray has his own supercar venture, and the handsome T.50 is the crown jewel of the lineup. At $2.6 million, the T.50 packs a naturally aspirated 4.0-liter V12 that makes 654 horsepower. The car itself weighs a mere 2,174 pounds, and at 392 pounds, the T.50 has the lightest V12 on the road today.",
 "The name Countach may be iconic, but is it worth $2.6 million? That's what Lamborghini hopes you will spend on its new Aventador-based model. Debuting in August of 2021, the Countach LPI 800-4 has a 6.5-liter V12 with a light hybrid assist that gives it a whopping 803 horsepower, allowing for a 60 time of 2.8 seconds and a top speed of more than 220 miles per hour.",
 'Mercedes has promised a production version of the Project One hypercar for quite a while now. The first official announcement was in March of 2017 before the first concept debuted later that same year. But after nearly five years of teasing, it appears as if the Project One will finally hit public roads. And when it does, the hybrid hypercar will have over 1,200 horsepower (895 kilowatts) and a price tag of $2.7 million.',
 'The folks at Aston Martin know a thing or two about exclusive vehicles, and the Victor might be the most exclusive project for the British brand to date. Based on the One-77 platform, the Victor uses parts from several donor Astons including the track project Vulcan and the upcoming Valkyrie. And talking about limited production – the Victor is one-of-one and rumored to cost nearly $3 million.',
 'The same Hennessey Venom F5 hypercar we all know and love, but with less roof. The F5 Roadster has the same twin-turbocharged 6.6-liter V8 as the coupe, producing the same 1,817 horsepower and 1,193 pound-feet of torque. Hennessey estimates a top speed of over 300 miles per hour, but if you want one, it will cost you at least $3.0 million.',
 "The Koenigsegg Jesko, apart from being the fastest car the company has made to date, is also the most expensive. At $3.0 million out of the box, the handsome hypercar has 1,600-horsepower courtesy of the brand's ubiquitous twin-turbocharged 5.0-liter V8 engine. Opt for the Absolut model, and the Jesko, in theory, will be able to hit 300 miles per hour.",
 'The upcoming Aston Martin hybrid hypercar hasn’t even hit the market yet, but already the $3.2 million Valkyrie has sold out. For what it’s worth, Aston Martin hasn’t officially released pricing. Estimates suggest the hypercar could go for anywhere between $2.6 and $3.9 million – but $3.2 million seems to be the magic number. Whatever the case, this machine is impressive. Its Cosworth-sourced 6.5-liter V12 produces 1,160 horsepower (865 kilowatts) and 664 pound-feet (900 Newton-meters) of torque, meaning its top speed should be well over 200 miles per hour (321 kilometers per hour). The company will build just 150 examples of the standard Valkyrie, with a limited 25-run AMR model arriving later.',
 "Dubai-based W Motors shocked the world with its edgy Lykan Hypersport supercar in 2013. With titanium LED headlights housing 420 15-carat diamonds and a holographic display in the center console, it's no surprise it was the third most expensive car ever when new. It falls to number six on our list here, but it's still a wild hypercar with a powerful heart; the twin-turbocharged 3.7-liter six-cylinder engine underhood produces 780 horsepower (581 kilowatts) and 708 (960 Newton-meters) of torque.",
 'One seat, 829 horsepower, and a top speed of over 200 miles per hour. The new McLaren Solus is about as close as you can get to a Formula 1 car from the factory, powered by a naturally aspirated 5.2-liter V10 engine with a 0-62 mile-per-hour time of just 2.5 seconds. Estimates suggest a McLaren Solus will set you back about $3.5 million.',
 'Following Pagani’s past playbook, a roadster version of the ferocious Huayra BC was inevitable. Last year, the company made it official by showing off the Huayra Roadster BC, a topless monster with 800 horsepower (597 kilowatts) and 774 lb-ft of torque (1049 Newton-meters). Somewhat surprisingly, Pagani gave the roadster 50 more horsepower than its coupe sibling, by cranking up its AMG-sourced twin-turbocharged 6.0-liter V12. In addition to the joy of hearing the glorious engine note without a roof in the way, owners should take comfort in knowing that their car is ultra-rare. Pagani is limiting production to just 40 units, each with a sticker price of $3.5 million.',
 'Another showstopper from the Geneva Motor Show that never was, the Bugatti Chiron Pur Sport is a special edition Chiron with a focus on aerodynamics, weight reduction, and power distribution. It’s the same 8.0-liter quad-turbo W16 engine underneath the skin but it’s now mated to a recalibrated automatic gearbox. While the peak output remains unchanged at 1,500 horsepower (1,103 kilowatts), the rpm redline has been set 200 rpm higher, up to 6,900 rpm. The Pur Sport also features slightly revised bodywork, with a bigger rear wing and more aerodynamic front fascia. Beginning production in late 2020, the Bugatti starts at $3.6 million.',
 'In several ways, the Sian represents a bridge to Lamborghini’s future. Though it’s based on the Aventador SVJ, this wild-looking Lambo is the brand’s first production electrified offering. In addition to the SVJ-sourced 6.5-liter V12, the Sian uses a 48-volt mild-hybrid system. Total system output is 819 horsepower (611 kilowatts), which also makes it the most powerful Lamborghini ever. As confirmed by the 63 stuck on either side of the Sian’s wing, Lamborghini will produce just 63 units. And each will cost far more than the Aventador SVJ, carrying a price of $3.6 million.',
 'The Koenigsegg CC850 was a surprise to be sure, but a welcomed one. Borrowing the twin-turbocharged 5.0-liter V8 from the Jesko, it notches that output up to 1,385 horsepower and 1,022 pound-feet of torque, with a so-called “TWMPAFMPC” transmission that shifts (pun intended) between manual and automatic functions. Of course, all that performance technology will cost you; the CC850 starts at $3.7 million.',
 'Earlier this year, Bugatti captured the collective attention of the automotive world by announcing that it broke the 300 miles per hour barrier with a modified version of the Chiron. The Super Sport 300 + is a road-going version of that car, meant to celebrate the occasion. Limited to just 30 units, the Super Sport 300+ is a beautiful version of the Chiron, with flowing, slippery bodywork and a sweet stripe motif. Even with 300 in the name, Bugatti is limiting the top speed of each car to "just" 277 mph. Production starts this year.',
 "Lamborghini built just 14 examples of the Aventador-based Veneno between 2014 and 2015. Each one cost around $4.5 million, depending on how it was spec'd, and was available in both convertible and coupe configurations. Underhood Lamborghini fitted a more-powerful iteration of the Aventador's 6.5-liter V12, now producing 740 horsepower (552 kilowatts) and 509 pound-feet (609 Newton-meters) of torque, which gave it the ability to sprint to 60 miles per hour (96 kilometers per hour) in a blistering 2.9 seconds. To date, it’s the most expensive new Lamborghini ever.",
 "Produced in extremely limited numbers atop the body of a Chiron, it's no wonder Bugatti's one-of-40 Bolide track car is this pricey. At $4.7 million, the 1,824-horsepower hypercar has more power than the Chiron Super Sport 300+, and more extreme bodywork that allow it to lap tracks like the Nurburgring in record time (in theory). Bugatti says the Bolide would be able to conquer the ‘Ring in record time.",
 'The Bugatti Mistral sends the iconic W16 engine off in style. With 1,577 horsepower and no roof, the Mistral takes the best bits of the Chiron and borrows elements from the Bolide and Divo to create a truly unique roadster. Of course, Bugatti plans to build just 99 examples of the Mistral at the cost of around $5.0 million in the US – and all of them are already accounted for.',
 'Even though the new Utopia marks the next big step for Pagani, the Huayra Imola packs nearly as much power with a twin-turbocharged 6.0-liter V12 engine producing 827 horsepower and 811 pound-feet of torque. The Huayra Imola is estimated to cost around $5.4 million new, which would make it the second most expensive Pagani of all time.',
 'Among Bugatti’s recently debuted vehicles, the Divo is a staff favorite. Though it shares much in common with its cheaper (!) sibling the Chiron, the Divo has a lot going for it to justify the extra money. By adding lighter wheels, a carbon fiber intercooler and removing some sound deadening, Bugatti made the Divo 77 pounds lighter than the Chiron. Though power is unchanged from the Chiron’s 1,500 ponies (1,119 kilowatts), The Divo features a different aerodynamic setup, which makes it 8 seconds quicker around the Nardo test track. Finally, the moment you’ve been waiting for: Bugatti is making 40 examples of the car, each costing $5.8 million.',
 "SP Automotive (short for Spyros Panopoulos) is a new name in the world of hypercars, but the brand's 2,000-horsepower, $6.4-million, aptly named Chaos has already made an impact. With a twin-turbocharged 4.0-liter V10, the base SP Automotive Chaos is one of the most expensive cars on this list – beating out many Lambos and Bugattis – but there's an even pricier version of this car that costs an eye-watering $14.4 million. That version reportedly packs 3,000 hp.",
 'The long list of pricey (new) Paganis ends with the Codualunga. Inspired by 1960s Italian coachbuilding, the stunning exterior and steampunk-esque interior – while equally stunning – are only part of what makes this Pagani so pricey. Under the hood is a twin-turbocharged 6.0-liter V12 producing 829 horsepower and 809 pound-feet of torque, paired to a seven-speed sequential transmission for a real race-car–like feel. The cost for this one-of-five Pagani is $7.4 million.',

In [73]:
len(des1)

50

In [62]:
d = description[4:108:2]
d

['The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.',
 "But in order to find out which of these unattainable-to-most vehicles is the priciest, we've scoured the invoice sheets and uncovered 40 cars all worth $1 million or more. The group includes hybrid Ferrari convertibles, an American speed king, a few electric Hypercars, and two a one-of-a-kind Rolls-Royce cars built for royalty.",
 'Price: $1.2 Million',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)']

In [63]:
len(d)

52

In [65]:
d2 = d[2:52]
d2

['Price: $1.2 Million',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)']

In [74]:
len(d2)

50

In [75]:
#creating DataFrame

df = pd.DataFrame({"Car Name":car1,"Description":des1,"Price":d2})
df

,Car Name,Description,Price
0,Drako GTE,The Drako GTE is a super sedan in every sense ...,Price: $1.2 Million
1,De Tomaso P72,The De Tomaso P72 is basically the definition ...,Price: $1.3 Million
2,Ferrari LaFerrari,"At $1.4 million new, the Ferrari LaFerrari is ...",Price: $1.4 Million
3,Pagani Huayra,Inarguably one of the prettiest cars on this l...,Price: $1.4 Million
4,McLaren Elva,The McLaren Elva is one of the latest addition...,Price: $1.7 Million
5,Czinger 21C,"You might not know the name Czinger yet, but t...",Price: $1.7 Million
6,Ferrari Monza,"Much like the roof-less McLaren Elva, the Ferr...",Price: $1.7 Million
7,Gordon Murray T.33,The second and slightly more affordable superc...,Price: $1.7 Million
8,Koenigsegg Gemera,"One of two Koenigsegg models on this list, the...",Price: $1.7 Million
9,Zenvo TSR-S,"Hailing from Denmark, the Zenvo TSR-S debuted ...",Price: $1.7 Million
10,Hennessey Venom F5,"The Hennessey Venom GT was a record-breaker, t...",Price: $1.8 Million
11,Bentley Bacalar,"With just 12 total units produced, the Bentley...",Price: $1.9 Million
12,Hispano Suiza Carmen Boulogne,To call the Hispano Suiza Carmen Boulogne beau...,Price: $1.9 Million
13,Bentley Mulliner Batur,The electric onslaught is coming. Bentley says...,Price: $2.0 Million
14,Deus Vayanne,The Deus Vayanne may not be a household name (...,Price: $2.0 Million
15,SSC Tuatara,"Although initially cloaked in controversy, SSC...",Price: $2.0 Million*
16,Lotus Evija,With a new Emira sports car and an Eletre elec...,Price: $2.1 Million
17,Aston Martin Vulcan,"As with a few other cars on this list, the Ast...",Price: $2.3 Million
18,Delage D12,You may have heard of Delage before. In the ea...,Price: $2.3 Million
19,McLaren Speedtail,What would you pay for the fastest production ...,Price: $2.3 Million
20,Rimac Nevera,The Rimac Nevera takes the title of most expen...,Price: $2.4 Million
21,Pagani Utopia,"First came the Zonda, then the Huayra, and now...",Price: $2.5 Million
22,Pininfarina Battista,"Aptly named after the company’s founder, Batti...",Price: $2.5 Million
23,Ferrari FXX K Evo,"Sure, you could buy a normal LaFerrari (which ...",Price: $2.6 Million
24,Gordon Murray T.50,"If the name Gordon Murray sounds familiar, it’...",Price: $2.6 Million
25,Lamborghini Countach,"The name Countach may be iconic, but is it wor...",Price: $2.6 Million
26,Mercedes-AMG Project One,Mercedes has promised a production version of ...,Price: $2.7 Million
27,Aston Martin Victor,The folks at Aston Martin know a thing or two ...,Price: $3.0 Million
28,Hennessey Venom F5 Roadster,The same Hennessey Venom F5 hypercar we all kn...,$3.0 Million
29,Koenigsegg Jesko,"The Koenigsegg Jesko, apart from being the fas...",Price: $3.0 Million
30,Aston Martin Valkyrie,The upcoming Aston Martin hybrid hypercar hasn...,Price: $3.2 Million
31,W Motors Lykan Hypersport,Dubai-based W Motors shocked the world with it...,Price: $3.4 Million
32,McLaren Solus,"One seat, 829 horsepower, and a top speed of o...",$3.5 Million
33,Pagani Huayra Roadster BC,"Following Pagani’s past playbook, a roadster v...",Price: $3.5 Million
34,Bugatti Chiron Pur Sport,Another showstopper from the Geneva Motor Show...,Price: $3.6 Million
35,Lamborghini Sian,"In several ways, the Sian represents a bridge ...",Price: $3.6 million
36,Koenigsegg CC850,The Koenigsegg CC850 was a surprise to be sure...,Price: $3.7 Million
37,Bugatti Chiron Super Sport 300+,"Earlier this year, Bugatti captured the collec...",Price: $3.9 Million
38,Lamborghini Veneno,Lamborghini built just 14 examples of the Aven...,Price: $4.5 Million
39,Bugatti Bolide,Produced in extremely limited numbers atop the...,Price: $4.7 Million
40,Bugatti Mistral,The Bugatti Mistral sends the iconic W16 engin...,Price: $5.0 Million
41,Pagani Huayra Imola,Even though the new Utopia marks the next big ...,Price: $5.4 Million
42,Bugatti Divo,"Among Bugatti’s recently debuted vehicles, the...",Price: $5.8 Million
43,SP Automotive Chaos,SP Automotive (short for Spyros Panopoulos) is...,Price: $6.4 Million
44,Pagani Codalunga,The long list of pricey (new) Paganis ends wit...,Price: $7.4 Million
45,Mercedes-Maybach Exelero,"Like many others before it, the Mercedes-Benz ...",Price: $8.0 Million
46,Bugatti Centodieci,Bugatti debuted the Centodieci at last year’s ...,Price: $9.0 Million
47,Rolls-Royce Sweptail,"Rolls-Royce, expectedly, takes two of the top ...",Price: $12.8 Million
48,Bugatti La Voiture Noire,"With a price tag of $13.4 million, the one-off...",Price: $13.4 Million
49,Rolls-Royce Boat Tail*,Rolls-Royce is back in the business of coachbu...,Price: $28.0 Million (est.)